@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

* {
    padding: 0;
    margin: 0;
    /* box-sizing: border-box; */
}

body {
    font-family: 'Poppins', sans-serif;
}

main {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(245, 222, 222);
}

#thermostat {
    width: 200px;
    height: 200px;
    background-color: orange;
    background: radial-gradient( rgb(255, 204, 109), orange);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 30px solid grey;
    padding: 50px;
    border-radius: 50%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

button {
    padding: 3px;
    margin: 4px;
    background: transparent;
    color: white;
    border: none;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
}

button:hover {
    color: tomato;
}

.btn-up {
    margin-right: 10px;
}

#temp {
    font-size: 100px;
    color: white;
    font-weight: bold;
}

#powersave {
    font-weight: bold;
    color: white;
    opacity: 0.4;
}

#powersave:hover {
    opacity: 1;
}